alembic==1.4.1
altair==4.1.0
argon2-cffi @ file:///D:/bld/argon2-cffi_1596630110014/work
astor==0.8.1
astropy==4.0.1.post1
atomicwrites==1.4.0
attrs==19.3.0
azure-core==1.8.2
azure-storage-blob==12.5.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
base58==2.0.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
blinker==1.4
blis==0.4.1
boto3==1.15.16
botocore==1.18.16
cachetools==4.1.1
catalogue==1.0.0
catboost==0.24.2
certifi==2020.6.20
cffi @ file:///D:/bld/cffi_1595805721274/work
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
colorlover==0.3.0
combo==0.1.1
confuse==1.3.0
cryptography==3.1.1
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
databricks-cli==0.12.1
datefinder==0.7.1
decorator==4.4.2
defusedxml==0.6.0
docker==4.3.1
entrypoints==0.3
enum-compat==0.0.3
Flask==1.1.2
funcy==1.15
future==0.18.2
gensim==3.8.3
gitdb==4.0.5
GitPython==3.1.9
gorilla==0.3.0
graphviz==0.14.2
htmlmin==0.1.12
idna==2.10
ImageHash==4.1.0
imbalanced-learn==0.7.0
importlib-metadata @ file:///D:/bld/importlib-metadata_1593211612489/work
iniconfig==1.0.1
ipykernel @ file:///D:/bld/ipykernel_1595447157738/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1596256513928/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.11.2
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1594732094290/work
jupyter-core==4.6.3
kiwisolver==1.2.0
kmodes==0.10.2
lightgbm==3.0.0
llvmlite==0.33.0
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.0
missingno==0.4.2
mistune==0.8.4
mkl-service==2.3.0
mlflow==1.11.0
mlxtend==0.17.3
msrest==0.6.19
murmurhash==1.0.2
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
networkx==2.4
nltk==3.5
notebook @ file:///D:/bld/notebook_1597285459320/work
numba==0.50.1
numexpr==2.7.1
numpy @ file:///D:/bld/numpy_1595523078866/work
oauthlib==3.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///D:/bld/pandas_1595958729109/work
pandas-profiling==2.8.0
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1596584577899/work
pathtools==0.1.2
patsy==0.5.1
phik==0.10.0
pickleshare==0.7.5
Pillow==7.2.0
plac==1.1.3
plotly==4.9.0
pluggy==0.13.1
ppscore==1.0.0
preshed==3.0.2
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prometheus-flask-exporter==0.18.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1597061474901/work
protobuf==3.13.0
py==1.9.0
pyarrow==1.0.1
pycaret==2.1.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydeck==0.5.0b1
Pygments==2.6.1
pyLDAvis==2.1.2
pyod==0.8.3
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.1.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
querystring-parser==1.2.4
quickda==0.2.0
regex==2020.10.11
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
s3transfer==0.3.3
scikit-learn @ file:///D:/bld/scikit-learn_1596546337481/work
scipy @ file:///C:/ci/scipy_1592916958183/work
seaborn==0.10.1
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
smart-open==3.0.0
smmap==3.0.4
spacy==2.3.2
SQLAlchemy==1.3.13
sqlparse==0.4.1
srsly==1.0.2
statsmodels==0.12.0
streamlit==0.68.0
suod==0.0.4
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
tenacity==6.2.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
thinc==7.4.1
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
tzlocal==2.1
umap-learn==0.4.6
urllib3==1.25.10
validators==0.18.1
visions==0.4.4
waitress==1.4.4
wasabi==0.8.0
watchdog==0.10.3
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wit==6.0.0
wordcloud==1.8.0
xgboost==1.2.0
yellowbrick==1.2
zipp==3.1.0
